<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/users.css">
</head>
<body>
    <div class="container-fluid">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/web">Trang chủ</a></li>
                <li><a href="#" id="breadcrumd-roll-page">Title</a></li>
                <li><span>Sọt rác</span></li>
            </ul>
        </div>
        <div class="page-main">
            <div class="page-main--header d-flex align-items-center mb-3">
                <h3 class="header-title">Thông tin quản trị viên</h3>
                <a class="recycle-btn ml-auto" id="restore">Phục hồi</a>
            </div>
            <table class="page-main-body table">
                <thead class="thead-dark">
                    <tr id="Header"></tr>
                </thead>
                <tbody id="Body"></tbody>
            </table>
            <div class="undefine-data" id="Blank">Không có nội dung phù hợp</div>
        </div>
    </div>

    <script type="module" src="/static/js/lib/recycle.js"></script>
</body>
</html>