<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example App</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <!-- MODAL LOADER -->

    {{#if show }}
    {{> header}}
    {{/if}}

    <section class="main-body">
        <div class="container-fluid">
            <main>{{{body}}}</main>
        </div>
    </section>

    {{#if show}}
    {{> footer}}
    {{/if}}

    <script src="/static/js/commons/jquery.min.js"></script>
    <script src="/static/js/commons/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://use.fontawesome.com/3e1a7eaa5a.js"></script>
</body>

</html>