<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container-fluid">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/web">Trang chủ</a></li>
                <li><a href="/web/course">Khóa học</a></li>
                <li><a href="/web/course/unit">Chương học</a></li>
                <li><span>Học phần</span></li>
            </ul>
        </div>

        <div class="page-main">
            <div class="page-main--header d-flex align-items-center">
                <h2 class="header-title">Chương học hiện có</h2>
                <a class="header-router-link-detail ml-auto mr-2" href="/web/course/unit/lesson/detail?type=create">
                    <i class="fa fa-plus mr-2" aria-hidden="true"></i>Thêm mới
                </a>
                <a class="header-router-link-detail" href="/web/course/unit/lesson/recycle?type=lesson">
                    <i class="fa fa-recycle mr-2" aria-hidden="true"></i>Sọt rác
                </a>
            </div>
            <table class="page-main-body table">
                <thead class="thead-dark"><tr id="Header"></tr></thead>
                <tbody id="Body"></tbody>
            </table>
            <div class="undefine-data" id="Blank">Không có nội dung phù hợp</div>
        </div>
    </div>

    <script type="module" src="/static/js/lesson/lesson.js"></script>
</body>

</html>