<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/users.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/web">Trang chủ</a></li>
                <li><a href="/web/user">Thông tin quản trị</a></li>
                <li><span>Chi tiết</span></li>
            </ul>
        </div>
        <div class="users-detail my-3">
            <div class="page-detail--information">
                <div class="title">
                    <h2 class="title-page">User detail title</h2>
                    <div class="custom-control custom-switch" id="switched">
                        <input type="checkbox" class="custom-control-input" id="Status">
                        <label class="custom-control-label" for="Status">Trạng thái người dùng</label>
                    </div>
                </div>

                <div class="priture" id="wrapper-priture">
                    <img class="thumbnail" id="thumbnail" src="/static/img/thumbnail_default.jpg" alt="thumbnail"/>
                    <input type="file" class="upload-thumbnail" id="upload-thumbnail"/>
                </div>
            </div>
            <form id="User">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="title--input" for="user-name">Họ và tên</label>
                            <input type="text" class="form-control" id="Name" placeholder="Họ và tên">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="dateOfBirth">Ngày/Tháng/Năm sinh</label>
                            <input type="date" class="form-control" id="DateOfBirth">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="email">Email</label>
                            <input type="email" class="form-control" id="Email" placeholder="Địa chỉ email">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="Role">Loại tài khoản</label>
                            <select class="custom-select" id="Role">
                                <option selected value="default">Quyền tài khoản</option>
                                <option value="user">Khách hàng</option>
                                <option value="member">Học viên</option>
                                <option value="admin">Quản trị</option>
                            </select>
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="title--input" for="Gender">Giới tính</label>
                            <select class="custom-select" id="Gender">
                                <option selected value="default">Chọn thông tin</option>
                                <option value="male">Nam</option>
                                <option value="female">Nữ</option>
                                <option value="other">Khác</option>
                            </select>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="Phone">Số điện thoại</label>
                            <input type="phone" class="form-control" id="Phone" placeholder="+84">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="Address">Địa chỉ</label>
                            <input type="text" class="form-control" id="Address" placeholder="Địa chỉ">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="CreateDate">Ngày tạo tài khoản</label>
                            <input type="date" class="form-control" id="CreateDate" disabled>
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="users-detail--serect">
                    <button type="submit" class="btn users-detail--btn">Submit</button>
                </div>
            </form>
        </div>

        <div class="users-detail security-information my-4" id="security-information">
            <div class="page-detail--information">
                <div class="title">
                    <h2 class="title-common-page">Thông tin bảo mật</h2>
                </div>
            </div>
            <form id="Security">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="title--input" for="Password">Mật khẩu</label>
                            <input type="password" class="form-control" id="Password" placeholder="">
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="title--input" for="comform-password">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control" id="ComformPassword" placeholder="">
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="users-detail--serect">
                    <button type="submit" class="btn users-detail--btn" id="SecurityBTN">Đặt lại mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="/static/js/user/userDetail.js"></script>
</body>

</html>