<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/users.css">
</head>

<body>
    <div class="container">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/users">Người dùng</a></li>
                <li><span>Chi tiết</span></li>
            </ul>
        </div>
        <div class="users-detail my-3">
            <h2 class="users-detail--title">User detail title</h2>
            <form id="users-detail">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="title--input" for="user-name">Tên người dùng</label>
                            <input type="text" class="form-control" id="user-name" placeholder="Họ và tên">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Địa chỉ email">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="password">Mật khẩu</label>
                            <input type="password" class="form-control" id="password" placeholder="Mật khẩu">
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="title--input" for="dateOfBirth">Tuổi</label>
                            <input type="date" class="form-control" id="dateOfBirth" placeholder="Tuổi">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="user-role">Loại tài khoản</label>
                            <select class="custom-select" id="user-role">
                                <option selected value="default">Chọn loại tài khoản</option>
                                <option value="user">Khách hàng</option>
                                <option value="member">Học viên</option>
                                <option value="admin">Quản trị</option>
                            </select>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="title--input" for="exampleInputPassword1">Trạng thái</label>
                            <div class="wrapper-status d-flex align-items-center">
                                <div class="custom-control custom-radio mr-3">
                                    <input type="radio" id="action" name="status" value="action"
                                        class="custom-control-input">
                                    <label class="custom-control-label input--status-title" for="action">Hoạt
                                        động</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="no-action" name="status" value="no-action"
                                        class="custom-control-input">
                                    <label class="custom-control-label input--status-title" for="no-action">Không hoạt
                                        động</label>
                                </div>
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="form-group d-none">
                            <label class="title--input" for="skills">Chuyên môn</label>
                            <textarea class="form-control" id="skills" rows="5">{{user.skills}}</textarea>
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="users-detail--serect">
                    <button type="submit" class="btn users-detail--btn">Submit</button>
                    <button type="button" id="come-back" class="btn">Quay lại</button>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="/static/js/user/userDetail.js"></script>
</body>

</html>