<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/courses">Khóa học</a></li>
                <li><a href="/courses">Chương học</a></li>
                <li><a id="go-back" href="#">Học phần</a></li>
                <li><span>Chi tiết học phần</span></li>
            </ul>
        </div>
        <div class="page-detail">
            <h2 class="page-detail--title">Thông tin khóa học</h2>
            <form class="page-detail-form" id="lesson-detail">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="unit-code">Mã Chương học</label>
                            <input type="text" class="form-control" id="unit-code" disabled placeholder="Mã code">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="lesson-name">Tên bài học</label>
                            <input type="text" class="form-control" id="lesson-name">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="unit-status">Trạng thái</label>
                            <div class="form-group-radio">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="active" name="status" value="action"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="active">Active</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="no-active" name="status" value="no-action"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="no-active">No-active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="lesson-thumbanil">Ảnh khóa học</label>
                            <input type="text" class="form-control" id="lesson-thumbanil">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="lesson-create-date">Ngày tạo</label>
                            <input type="datetime-local" step="0.001" class="form-control" id="lesson-create-date">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="lesson-edit-last-date">Cập nhật gần đây</label>
                            <input type="datetime-local" step="0.001" class="form-control" id="lesson-edit-last-date">
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-group--label" for="lesson-content">Nội dung khóa học</label>
                            <textarea class="form-control" id="lesson-content" rows="5"></textarea>
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="users-detail--serect">
                    <button type="submit" class="btn-executed btn">Submit</button>
                    <button type="button" id="come-back" class="btn">Quay lại</button>
                </div>
            </form>
        </div>
    </div>

    <script type="module" src="/static/js/lesson/lessonDetail.js"></script>
</body>

</html>