<form action="/search" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>