<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="document-component my-5">
        <div class="row">
            <div class="col-3">sidebar</div>
            <div class="col-9 collection-component">
                <div class="row">
                    <div class="col-4">
                        <a href="#" class="component-items d-block">
                            <img class="img-fluid component-items--thumbnail" src="/static/img/course.jpg" alt="">
                            <div class="component-items--content">
                                <h2 class="content-title">Quản trị Khóa học</h2>
                                <p class="content-description">Khóa học được tạo và cập nhật thường xuyên mang đến cho
                                    người dùng chất lượng tốt nhất</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="component-items d-block">
                            <img class="img-fluid component-items--thumbnail" src="/static/img/blog.jpg" alt="">
                            <div class="component-items--content">
                                <h2 class="content-title">Quản trị Bài viết</h2>
                                <p class="content-description">Bài viết nhiều thể loại cung cấp thông tin cần thiết đến
                                    học viên</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="/users" class="component-items d-block">
                            <img class="img-fluid component-items--thumbnail" src="/static/img/user.jpg" alt="">
                            <div class="component-items--content">
                                <h2 class="content-title">Quản trị Người dùng</h2>
                                <p class="content-description">Quản trị người dùng cập nhật thông tin người dùng cung
                                    cấp dịch vụ tốt nhất cho bạn</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>