<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body>
    <div class="container">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/web">Trang chủ</a></li>
                <li><a href="/web/course">Khóa học</a></li>
                <li><span>Chi tiết</span></li>
            </ul>
        </div>
        <form class="detail-form" id="Course">
            <div class="page-detail">
                <div class="page-detail--information">
                    <div class="title"><h2 class="title-page" id="Title-page">Title</h2></div>
                    <div class="custom-control custom-switch ml-auto" id="Switched">
                        <input type="checkbox" class="custom-control-input" id="Status">
                        <label class="custom-control-label" for="Status">Trạng thái người dùng</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="Name">Tên khóa học</label>
                            <input type="text" class="form-control" id="Name">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="Type">Loại khóa học</label>
                            <select class="custom-select" id="Type">
                                <option selected value="default">Chọn loại khóa học</option>
                                <option value="FE">Font-End</option>
                                <option value="BE">Back-End</option>
                            </select>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group hidden-group">
                            <label class="form-group--label" for="CreateDate">Ngày tạo</label>
                            <input type="datetime-local" step="0.001" class="form-control" id="CreateDate" disabled>
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="Author">Tác giả</label>
                            <input type="text" class="form-control" id="Author">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="Unit">Học phần hiện có</label>
                            <input type="text" class="form-control" id="Unit" disabled>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group hidden-group">
                            <label class="form-group--label" for="UpdateDate">Cập nhật gần đây</label>
                            <input type="datetime-local" step="0.001" class="form-control" id="UpdateDate" disabled>
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-group--label" for="Description">Mô tả khóa học</label>
                            <textarea id="Textarea"></textarea>
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-detail hidden my-3">
                <div class="page-detail--information">
                    <div class="title"><h2 class="title-page">Ảnh khóa học</h2></div>
                    <div class="priture-description ml-auto"><input  class="file" type="file" id="Upload"></div>
                </div>

                <div class="page-detail--content">
                    <div class="document-content">
                        <img src="/static/img/thumbnail_default.jpg" id="Thumbnail" alt="thumbnail">
                    </div>
                    <div class="blank-content">Chưa có thông tin...</div>
                </div>
            </div>

            <div class="detail--serect mb-4">
                <button type="submit" class="btn-executed btn" id="Executed">Submit</button>
            </div>
        </form>
    </div>

    <script type="module" src="/static/js/course/courseDetail.js"></script>
    <script src="/static/js/lib/tinymce.js"></script>
</body>

</html>