@import "_variables.scss";

// HOME PAGE
.main-body {
    min-height: 85vh;
}

.home_title {
    // background-color: $red-color;
    // color: $red-color;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .2px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.sliders-component {
    height: 100vh;
    ul {
        box-shadow: 0 0 2px #00000030;
        height: 100%;
        left: 0px;
        position: fixed;
        padding: 15px;
        top: 60px;
        width: 190px;
        li {
            &:not(:first-child) {
                margin-top: 15px;
            }
            a {
                border: unset;
                border-radius: 8px;
                background-color: transparent;
                box-shadow: 0 0 1px 1px #0000001f;
                color: #000000;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 75px;
                font-size: 11px;
                flex-direction: column;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;
                i.fa {
                    font-size: 15px;
                    margin-bottom: 5px;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.document-component {
    .component-items {
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        .component-items--content {
            color: #ffffff;
            background-color: #00000017;
            position: absolute;
            left: 0px;
            bottom: -110px;
            text-decoration: none;
            transition: all 0.3s ease;
            padding: 5px 10px;
            width: 100%;
            .content-title {
                font-size: 21px;
                letter-spacing:.2px;
                text-transform: uppercase;
            }
            .content-description{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &:hover, &:focus {
            .component-items--content {
                bottom: 0px;
            }
        }
    }
}

// BREADCRUMD
.breadcrumd {
    margin-top: 30px;
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0px;
        li {
            color: $web-background;
            font-weight: 700;
            a, span {
                color: inherit;
                font-size: 13px;
                text-transform: uppercase;
            }
            span {
                color: #031b3d96;
            }
            &:not(:last-child)::after {
                display: inline-block;
                content: "/";
                margin: 0px 3px;
            }
            .back-page-unit {
                cursor: pointer;
            }
            .go-back {
                cursor: pointer;
            }
        }
    }
}

// FORM CUSTOMER
form {
    .form-group {
        .password-control{
            position: relative;
            i.toggle-pasword {
                color: #323232;
                cursor: pointer;
                right: 5px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

// PAGE MAIN
.page-main {
    box-shadow: 0 0 2px #00000030;
    margin: 15px 0px;
    padding: 15px;
    .page-main--header {
        .header-title {
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .header-router-link-detail {
            border-radius: 5px;
            background-color: #f28d0f;
            color: white;
            font-weight: 700;
            margin-bottom: 10px;
            padding: 10px;
        }
    }
    .page-main-body {
        margin-bottom: 0px;
        .thead-dark {
            border-top: 1px solid #343a40;
            border-left: 1px solid #343a40;
            border-right: 1px solid #343a40;
        }
        tbody {
            border: 1px solid #00000014;
            .btn-method {
                border: none;
                border-radius: 5px;
                background-color: #f28d0f;
                color: white;
                padding: 10px;
                &:focus {
                    outline-width: 0px;
                }
            }
        }
    }
    .undefine-data {
        border: 1px solid #ddd;
        display: none;
        letter-spacing: .3px;
        font-size: 20px;
        font-weight: 700;
        padding: 30px 15px;
        text-align: center;
        text-transform: uppercase;
        &.active {
            display: block;
        }
    }
}

// PAGE DETAIL
.page-detail {
    box-shadow: 0 0 2px #00000030;
    margin-top: 15px;
    padding: 15px;
    .page-detail--information {
        display: flex;
        align-items: flex-start;
        .priture {
            display: none;
            margin-left: auto;
            margin-right: 0px;
            position: relative;
            .thumbnail {
                border-radius: 2px;
                box-shadow: 0 0 2px #00000030;
                height: 100px;
                padding: 3px;
                width: 100px;
            }
            .upload-thumbnail {
                bottom: 0px;
                display: inline-block;
                left:0px;
                height: 25px;
                overflow: hidden;
                position: absolute;
                width:25px;
                &:before {
                    background-color: #f28d0f;
                    border-radius: 2px;
                    color: #ffffff;
                    font-family: "FontAwesome";
                    font-weight: 500;
                    font-size: 14px;
                    content: "\f044";
                    display: inline-block;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    width:25px;
                    vertical-align: middle;
                }
            }
            &.active {
                display: block;
            }
        }
    }
    .page-detail--roll-back {
        margin-right: 5px;
        i.fa {
            color: #f28d0f;
            font-size: 25px;
            margin-top: 2px;
        }
    }
    .page-detail--title {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .page-detail-form {
        .form-group {
            .form-group--label {
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
    .page-detail-register {
        .page-detail-register__content {
            box-shadow: 0 0 2px #00000030;
            padding: 15px;
        }
    }
    .btn-executed {
        background-color: #f28d0f;
        color: white;
    }
}

.client-course-register {
    display: none;
    &.active {
        display: block;
    }
}

// CLIENT BOX REGISTER-COURSE
.register-course {
    .course-content {
        border-radius: 5px;
        border: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        .course-content--items {
            &:not(:first-child) {
                margin-left: 15px;
            }
            .course-content--items_name {
                display: inline-block;
            }
            .course-content--items_unRegister {
                border: none;
                background-color: transparent;
                display: inline-block;
                line-height: 0px;
                right: 0px;
                padding: 0px;
                i.fa {
                    color: #5e5e5e;
                }
                &:focus, &:focus-visible {
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    outline-color: transparent;
                }
                &:hover {
                    color: #da4848;
                }
            }
        }
    }
}

.users-detail--serect {
    margin-top: 10px;
    button {
        background-color: #f28d0f!important;
        color: #ffffff;
        
        padding: 5px 15px;
        text-transform: capitalize;
        &:not(:last-child) {
            margin-right: 5px;
        }
        &:hover {
            color: #ffffff;
        }
    }
}

// TABLE
.table {
    // margin-top: 15px;
    .thead-dark {
        tr {
            th {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
    tbody {
        td {
            font-size: 15px;
            vertical-align: middle;
            .btn {
                a {
                    color: #ffffff;
                }
            }
        }
    }
}

// TOASTS
.modal-toasts {
    background-color: #031b3d;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    top: 108px;
    right: 0px;
    position: fixed;
    padding: 5px 10px;
    min-width: 150px;
    z-index: 2000;
    animation: showToasts 1.1s ease forwards;
    transition: all .2s ease;
    .content {
        color: #ffffff;
        font-size: 14px;
        margin-bottom: 0px;
        text-transform: capitalize;
    }
}

.modal-toasts.active {
    display: flex;
}

@keyframes showToasts {
    0% {
        opacity: 0;
        transform:  translateX(200px);
    }
    100% {
        opacity: 1;
        transform:  translateX(0px);
    }
}

// FOOTER
footer {
    background-color: $web-background;
    border-top: 25px solid #244576;
    color: #ffffff;
    .footer-logo {
        font-size: 20px;
        font-weight: 700;
        padding-right: 20px;
        text-transform: uppercase;
    }
    .nav-footer {
        border-left: 1px solid #ffffff;
        padding-left: 20px;
        ul {
            li {
                a {
                    color: #ffffff;
                    letter-spacing: .2px;
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        .nav-des {
            font-size: 13px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .footer-social {
        ul {
            li {
                a {
                    color: #ffffff;
                    font-size: 20px;
                    text-decoration: none;
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
        .social-des {
            font-size: 13px;
            font-size: 13px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

// MODAL LOADER
.modal-loader {
    background-color: #ebebeb82;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
    img {
        width: 450px;
    }
}

.modal-loader.active {
    display: flex;
}