@import "./_variables.scss";
// USER-HOME
.user {
    border: 1px solid #cccccc;
    background-color: #f7f7f736;
    height: 600px;
    max-height: 600px;
    padding: 15px;
    .title-table {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .add-user {
        a {
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: .3px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

// USER-DETAIL
.users-detail {
    border: 1px solid #cccccc;
    background-color: #f7f7f736;
    padding: 25px 15px;
    .users-detail--title {
        font-size: 25px;
        font-weight: 700;
        letter-spacing: .3px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .page-detail--information {
        display: flex;
        align-items: flex-start;
        .title {
            .title-common-page {
                font-size: 25px;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            .title-page {
                font-size: 25px;
                font-weight: 700;
                letter-spacing: .3px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            .custom-switch {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
        .priture {
            display: none;
            margin-left: auto;
            margin-right: 0px;
            position: relative;
            .thumbnail {
                border-radius: 2px;
                box-shadow: 0 0 2px #00000030;
                height: 100px;
                padding: 3px;
                width: 100px;
            }
            .upload-thumbnail {
                bottom: 0px;
                display: inline-block;
                left:0px;
                height: 25px;
                overflow: hidden;
                position: absolute;
                width:25px;
                &:before {
                    background-color: #f28d0f;
                    border-radius: 2px;
                    color: #ffffff;
                    font-family: "FontAwesome";
                    font-weight: 500;
                    font-size: 14px;
                    content: "\f044";
                    display: inline-block;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    width:25px;
                    vertical-align: middle;
                }
            }
            &.active {
                display: block;
            }
        }
    }
    .page-detail--roll-back {
        margin-right: 5px;
        cursor: pointer;
        i.fa {
            color: #f28d0f;
            font-size: 25px;
            margin-top: 2px;
        }
    }
    #users-detail--info {
        .title--input {
            font-size: 13px;
            font-weight: 700;
            letter-spacing: .3px;
            text-transform: uppercase;
        }
        .input--status-title {
            font-size: 14px;
        }
        .form-control {
            font-size: 14px;
        }
    }
}
