<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/clients">Học viên</a></li>
                <li><span>Chi tiết</span></li>
            </ul>
        </div>
        <div class="page-detail">
            {{!-- PRICTURE --}}
            <div class="page-detail--information">
                <div class="page-detail--roll-back"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div>
                <h2 class="page-detail--title">Thông tin khóa học</h2>
                <div class="priture" id="priture">
                    <img class="thumbnail" id="thumbnail" src="/static/img/thumbnail_default.jpg" alt="thumbnail"/>
                    <input type="file" class="upload-thumbnail" id="upload-thumbnail"/>
                </div>
            </div>

            {{!-- INFORMATION --}}
            <form class="page-detail-form" id="Client">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="Code">Mã thành viên</label>
                            <input type="text" class="form-control" id="Code" disabled>
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group">
                            <label class="form-group--label" for="Name">Họ và tên</label>
                            <input type="text" class="form-control" id="Name">
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group">
                            <label class="form-group--label" for="Email">Email</label>
                            <input type="email" class="form-control" id="Email">
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group">
                            <label class="form-group--label" for="Password">Mật khẩu</label>
                            <div class="password-control">
                                <input type="password" class="form-control" id="Password">
                            </div>
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="Gender">giới tính</label>
                            <select class="custom-select" id="Gender">
                                <option selected value="default">Chọn giới tính</option>
                                <option value="male">Nam</option>
                                <option value="female">Nữ</option>
                                <option value="orther">Khác</option>
                            </select>
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group">
                            <label class="form-group--label" for="DateOfBirth">Ngày/ tháng/ năm sinh</label>
                            <input type="date" class="form-control" id="DateOfBirth">
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group">
                            <label class="form-group--label" for="Phone">Số điện thoại</label>
                            <input type="phone" class="form-control" id="Phone">
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group">
                            <label class="form-group--label" for="Address">địa chỉ</label>
                            <input type="text" class="form-control" id="Address">
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
                <div class="users-detail--serect"><button class="btn-executed btn" type="submit">Submit</button></div>
            </form>
        </div>

        {{!-- COURSE REGISTER --}}
        <div class="page-detail client-course-register mb-5 mt-4" id="page-detail-client-register">
            <div class="page-detail--information"><h2 class="page-detail--title">Khóa học đăng ký</h2></div>
            <div class="page-detail-register">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="Course">Khóa học</label>
                            <select class="custom-select" id="Course"></select>
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-group--label" for="Method">Chức năng</label>
                        <div class="form-group">
                            <button type="button" class="btn-executed btn" id="register" disabled="true">Thêm khóa học</button>
                            <button type="button" class="btn-executed btn" id="unRegister" disabled="true">Xóa khóa học</button>
                        </div>
                    </div>
                    
                    <div class="col-12 mb-3">
                        <div>
                            <input class="align-middle" type="checkbox" id="check-all-course">
                            <label class="form-group--label" for="Gender">Chọn tất cả</label>
                        </div>
                        <div class="page-detail-register__content" id="register-content"></div>
                    </div>
                </div>
                <div class="mt-4"><button type="submit" class="btn-executed btn" id="upload-register" disabled="true">Cập nhật khóa học</button></div>
            </div>
        </div>
    </div>

    <script type="module" src="/static/js/client/clientDetail.js"></script>
</body>

</html>