<footer>
    <div class="container py-4">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <h2 class="footer-logo mb-0">Code udemy</h2>
                <div class="nav-footer">
                    <ul class="list-unstyled d-flex align-items-center mb-0">
                        <li><a href="#">Trang chủ</a></li>
                        <li><a href="#">Khóa học</a></li>
                        <li><a href="#">Bài viết</a></li>
                        <li><a href="#">Người dùng</a></li>
                    </ul>
                    <p class="mb-0 nav-des">Coppy right by DuyNguyen -- 03-03/2022</p>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
                <div class="footer-social">
                    <ul class="list-unstyled d-flex align-items-center justify-content-center mb-0">
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <p class="mb-0 social-des">Support phuongduynguyen75@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- MODAL ADD USER -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa thông tin người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa người dùng này!!!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="delete-user">Cập nhật</button>
                <button type="button" class="btn btn-primary" id="delete-user-close" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>