<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/home">Trang chủ</a></li>
                <li><span>Khóa học</span></li>
            </ul>
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr id="course-table-header">
                    {{!-- <th scope="col">#</th>
                    <th scope="col">Tên khóa học</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">loại khóa học</th>
                    <th scope="col">Giá khóa học</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Lần cập nhật cuối cùng</th>
                    <th scope="col">Chúc năng</th> --}}
                </tr>
            </thead>
            <tbody id="course-table-body">
                {{!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr> --}}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex align-items-center justify-content-center"></ul>
    </nav>

    <script type="module" src="/static/js/course.js"></script>
</body>

</html>