<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/courses">Khóa học</a></li>
                <li><a class="back-page-unit">Chương học</a></li>
                <li><span>Chi tiết</span></li>
            </ul>
        </div>
        <div class="page-detail">
            <h2 class="page-detail--title">Thông tin khóa học</h2>
            <form class="page-detail-form" id="course-detail--info">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="course-code">Mã khóa học</label>
                            <input type="text" class="form-control" id="course-code" disabled placeholder="Mã code">
                        </div>

                        <div class="form-group">
                            <label class="form-group--label" for="unit-name">Tên Chương học</label>
                            <input type="text" class="form-control" id="unit-name">
                        </div>

                        <div class="form-group">
                            <label class="form-group--label" for="unit-lesson">Số bài giảng hiện có</label>
                            <input type="text" class="form-control" id="unit-lesson" disabled>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="unit-status">Trạng thái</label>
                            <div class="form-group-radio">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="active" name="status" value="action"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="active">Active</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="no-active" name="status" value="no-action"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="no-active">No-active</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="unit-create-date">Ngày tạo</label>
                            <input type="datetime-local" step="0.001" class="form-control" id="unit-create-date">
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="unit-edit-last-date">Cập nhật gần đây</label>
                            <input type="datetime-local" step="0.001" class="form-control" id="unit-edit-last-date">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-executed btn">Submit</button>
            </form>
        </div>
    </div>

    <script type="module" src="/static/js/course/unitDetail.js"></script>
</body>

</html>