<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODERUDEMY</title>
</head>

<body>
    <div class="document-component my-5">
        <div class="row">
            <div class="col-2">
                <div class="sliders-component">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <span>Người dùng</span>
                            </a>
                        </li>
                        <li>
                            <a id="SignOut">
                                <i class="fa fa-power-off" aria-hidden="true"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10 collection-component">
                <div class="row">
                    <div class="col-4">
                        <a href="/web/course" class="component-items d-block">
                            <img class="img-fluid component-items--thumbnail" src="/static/img/course.jpg" alt="">
                            <div class="component-items--content">
                                <h2 class="content-title">Quản trị Khóa học</h2>
                                <p class="content-description">Khóa học được tạo và cập nhật thường xuyên mang đến cho
                                    người dùng chất lượng tốt nhất</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="component-items d-block">
                            <img class="img-fluid component-items--thumbnail" src="/static/img/blog.jpg" alt="">
                            <div class="component-items--content">
                                <h2 class="content-title">Quản trị Bài viết</h2>
                                <p class="content-description">Bài viết nhiều thể loại cung cấp thông tin cần thiết đến
                                    học viên</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="/web/user" class="component-items d-block">
                            <img class="img-fluid component-items--thumbnail" src="/static/img/user.jpg" alt="">
                            <div class="component-items--content">
                                <h2 class="content-title">Quản trị Người dùng</h2>
                                <p class="content-description">Quản trị Người dùng cập nhật thông tin người dùng cung
                                    cấp dịch vụ tốt nhất cho bạn</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="/web/client" class="component-items d-block">
                            <img class="img-fluid component-items--thumbnail" src="/static/img/client.jpg" alt="">
                            <div class="component-items--content">
                                <h2 class="content-title">Quản trị học viên</h2>
                                <p class="content-description">Quản trị Học viên cập nhật thông tin người dùng cung
                                    cấp dịch vụ tốt nhất cho bạn</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/static/js/main.js"></script>
</body>

</html>