<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body>
    <div class="container">
        <div class="breadcrumd">
            <ul class="list-unstyled">
                <li><a href="/web">Trang chủ</a></li>
                <li><a href="/web/course">Khóa học</a></li>
                <li><a href="/web/course/unit">Chương học</a></li>
                <li><span>Chi tiết</span></li>
            </ul>
        </div>
        <form class="detail-form" id="unit">
            <div class="page-detail">

                <div class="page-detail--information">
                    <div class="title"><h2 class="title-page" id="Title-page">Title</h2></div>
                    <div class="custom-control custom-switch ml-auto" id="switched">
                        <input type="checkbox" class="custom-control-input" id="status">
                        <label class="custom-control-label" for="status">Trạng thái chương học</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="code">Mã khóa học</label>
                            <input type="text" class="form-control" id="code" disabled>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="name">Tên Chương học</label>
                            <input type="text" class="form-control" id="name">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="lesson">Số bài giảng hiện có</label>
                            <input type="text" class="form-control" id="lesson" disabled>
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-group--label" for="author">Tác giả</label>
                            <input type="text" class="form-control" id="author">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="createDate">Ngày tạo</label>
                            <input type="datetime-local" step="0.001" class="form-control" id="createDate" disabled>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-group--label" for="updateDate">Cập nhật gần đây</label>
                            <input type="datetime-local" step="0.001" class="form-control" id="updateDate" disabled>
                            <span class="form-message"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-group--label" for="Textarea">Mô tả học phần</label>
                            <textarea id="Textarea"></textarea>
                            <span class="form-message"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail--serect mb-4">
                <button type="submit" class="btn-executed btn" id="Executed">Submit</button>
            </div>
        </form>
    </div>

    <script type="module" src="/static/js/unit/unitDetail.js"></script>
    <script src="/static/js/lib/tinymce.js"></script>
</body>

</html>